
<ion-view view-title=" เลือกหมวดหมู่คำถาม "  >
  <ion-content>


    <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
    </ion-refresher>


    <ion-list ng-init="loadData();">
      <ion-item ng-repeat="item in items track by $index"  href="#/game/play/{{item.id}}"
                class="item item-thumbnail-left">
        <img ng-src="{{ item.image }}">
        <h2>{{ item.album }}</h2>
        <h4>{{ item.artist }}</h4>
      </ion-item>



      <ion-infinite-scroll
              ng-if="MoreDataCanBeLoad"
              spinner="android"
              on-infinite="loadMoreData()"
              distance="1%"
              >
      </ion-infinite-scroll>

    </ion-list>




  </ion-content>
</ion-view>
