<!--<ion-nav-bar class="bar-assertive nav-title-slide-ios7">-->




  <!--&lt;!&ndash;<label class="item-input-wrapper">&ndash;&gt;-->
    <!--&lt;!&ndash;<i class="icon ion-ios-search placeholder-icon"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="search" placeholder="Search">&ndash;&gt;-->
  <!--&lt;!&ndash;</label>&ndash;&gt;-->
  <!--<ion-nav-back-button ng-click="myGoBack()">-->
  <!--</ion-nav-back-button>-->

  <!--&lt;!&ndash;<ion-nav-buttons side="left">&ndash;&gt;-->
    <!--&lt;!&ndash;<button class="button button-icon button-clear ion-chevron-left" ng-click="myGoBack()"> Back&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->
  <!--&lt;!&ndash;</ion-nav-buttons>&ndash;&gt;-->




<!--</ion-nav-bar>-->


<ion-header-bar class="bar bar-header bar-assertive">

  <button class="button  button-clear"><i class='button button-icon life-icon'></i> {{ life }}</button>
  <div class="h1 title"><i class='button button-icon exp-icon'></i> {{ exp }}</div>
  <button class="button icon-right"><i class='button button-icon coin-icon'></i> {{ coin }}</button>
</ion-header-bar>



<!--<div class="bar bar-subheader bar-dark">-->
  <!--<i class='button button-icon life-icon'></i> {{ life }}-->
  <!--<div class="h1 title"><i class='button button-icon exp-icon'></i> {{ exp }}</div>-->
  <!--<span><i class='button button-icon coin-icon'></i> {{ coin }}</span>-->

<!--</div>-->

<ion-nav-view name="menuContent"></ion-nav-view>