
<ion-view view-title="เลือกหมวดหมู่คำถาม" cache-view="false" hide-back-button="false" >
  <ion-content ng-init="loadData();" scroll="false">

      <div ng-repeat="item in items">

          <div class="row" ng-if="$index % 3 == 0">

              <div class="col col-33" >
                  <a href="#/game/unlock/{{items[$index].id}}" class="thumb">
                      <img ng-src="{{ items[$index].image[items[$index].star].img }}" class="cur img-33" ng-if="items[$index].unlock==1"  >
                  </a>
                  <img ng-src="/img/ionic.png" class="cur img-33" ng-if="items[$index].unlock==0" >
              </div>
              <div class="col col-33" >
                  <a href="#/game/unlock/{{items[$index + 1].id}}" class="thumb">
                      <img ng-src="{{ items[$index + 1].image[items[$index + 1].star].img }}" class="cur img-33" ng-if="items[$index + 1].unlock==1" >
                  </a>
                  <img ng-src="/img/ionic.png" class="cur img-33" ng-if="items[$index + 1].unlock==0" >
              </div>
              <div class="col col-33" >
                  <a href="#/game/unlock/{{items[$index + 2].id}}" class="thumb">
                      <img ng-src="{{ items[$index + 2].image[items[$index + 2].star].img }}" class="cur img-33" ng-if="items[$index + 2].unlock==1" >
                  </a>
                  <img ng-src="/img/ionic.png" class="cur img-33" ng-if="items[$index + 2].unlock==0" >
              </div>

          </div>

      </div>

  </ion-content>
</ion-view>
