
<style>
  .row, .scroll {
    height: 100%;
  }
</style>

<ion-view view-title="Dashboard">



  <ion-content class="padding has-tabs-top">


    <div class="row row-center">

      <div class="col">



        <a class="button button-block button-positive" href="#/game/category">
          เริ่มเกม
        </a>

        <a class="button button-block button-positive" href="#/game/plays">
          ตารางคะแนน
        </a>

        <a class="button button-block button-positive" href="#/app/search">
          setting
        </a>



      </div>

    </div>


















    <!--<button class="button button-full">-->
      <!--Default-->
    <!--</button>-->

    <!--<button class="button button-block button-light">-->
      <!--button-light-->
    <!--</button>-->

    <!--<button class="button button-block button-stable">-->
      <!--button-stable-->
    <!--</button>-->

    <!--<button class="button button-block button-positive">-->
      <!--button-positive-->
    <!--</button>-->

    <!--<button class="button button-block button-calm">-->
      <!--button-calm-->
    <!--</button>-->

    <!--<button class="button button-block button-balanced">-->
      <!--button-balanced-->
    <!--</button>-->

    <!--<button class="button button-block button-energized">-->
      <!--button-energized-->
    <!--</button>-->

    <!--<button class="button button-block button-assertive">-->
      <!--button-assertive-->
    <!--</button>-->

    <!--<button class="button button-block button-royal">-->
      <!--button-royal-->
    <!--</button>-->

    <!--<button class="button button-block button-dark">-->
      <!--button-dark-->
    <!--</button>-->

  </ion-content>

  <div class="bar bar-footer">
    <button class="button button-clear">Left</button>
    <div class="title">Title</div>
    <button class="button button-clear">Right</button>
  </div>

</ion-view>
