<div class="modal image-modal transparent " ng-click="close();backtomain();">
    <ion-pane class="transparent">
        <div class="row row-center fullscreen-image">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <img ng-src="game/img/success.gif"><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="button button-block button-positive">Ok!!</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="cf3">
                            <img ng-src="game/img/star_empty.png" class="bottom">
                            <img ng-src="game/img/star.png" class="top">
                        </div>
                    </div>
                    <div class="col">
                        <div class="cf3">
                            <img ng-src="game/img/star_empty.png" class="bottom">
                            <img ng-src="game/img/star.png" class="top">
                        </div>
                    </div>
                    <div class="col">
                        <div class="cf3">
                            <img ng-src="game/img/star_empty.png" class="bottom">
                            <img ng-src="game/img/star.png" class="top">
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </ion-pane>


</div>





