<div class="modal image-modal transparent" ng-click="close();closeModal()">
  <ion-pane class="transparent">
    <div class="row row-center"   >
      <div class="col col-33" >
        <div class="cf3">
          <img ng-src="game/img/star_empty.png" class="img-choice bottom" >
          <img ng-src="game/img/star.png" class="img-choice top" >
        </div>
      </div>
      <div class="col col-33" >
        <div class="cf3">
          <img ng-src="game/img/star_empty.png" class="img-choice bottom" >
          <img ng-src="game/img/star.png" class="img-choice top" >
        </div>
      </div>
      <div class="col col-33" >
        <div >
          <img ng-src="game/img/star_empty.png" class="img-choice bottom" >
        </div>
      </div>
    </div>
  </ion-pane>
</div>