<!--<ion-modal-view>-->

  <!--<ion-content>-->
<!--<style>-->
  <!--.scale-in {-->
    <!--transform: scale(0.9);-->
    <!--opacity: 0;-->
  <!--}-->
  <!--.scale-in.ng-enter,-->
  <!--.scale-in > .ng-enter {-->
    <!--transition: all cubic-bezier(.1, .7, .1, 1) 400ms;-->
  <!--}-->

  <!--.scale-in.ng-enter-active,-->
  <!--.scale-in > .ng-enter-active {-->
    <!--transform: scale(1);-->
    <!--opacity: 1;-->
  <!--}-->

  <!--.scale-in.ng-leave,-->
  <!--.scale-in > .ng-leave {-->
    <!--transition: all ease-in-out 250ms;-->
  <!--}-->
<!--</style>-->

    <!--<div>-->
      <!--<h1 class="popup">Hello world!</h1>-->
    <!--</div>-->
  <!--</ion-content>-->
<!--</ion-modal-view>-->

<style>

</style>

<div class="modal image-modal transparent" ng-click="close();closeModal()">
  <ion-pane class="transparent">
    <img ng-src="game/img/Yes.png" class="fullscreen-image fadeIn"/>
  </ion-pane>
</div>

